<html>
        <head>
            <title>Django blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">DjangoBlog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Как обычно, я стараюсь разжевать математику по-максимуму, чтобы материал был доступен заинтересованному
                    школьнику. Я глубоко убеждён, что использование математики по-хорошему должно бы быть платным: любая
                    формула должна быть использована только тогда, когда она призвана облегчить понимание, а не для того,
                    чтобы выпендриваться.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>В данной вводной публикации мы расскажем, что нужно сделать в первую очередь, чтобы как можно скорее
                    начать получать первую прибыль от вашего собственного VPS-хостинга, как сделать относительно быстро
                    и насколько это целесообразно и выгодно. Если вы решили создать свой VPS-хостинг с нуля, но у Вас
                    нет своей инфраструктуры или нет средств и времени для её создания с нуля, добро пожаловать под кат.</p>
            </div>
        </body>
</html>